<template name='comment'>
  <div class="media">

    <div class="media-heading" name="{{_id}}">
        <button class="btn btn-default btn-xs" id="expando" data-id="{{_id}}" type="button" data-toggle="collapse" data-target="#{{_id}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        {{#if isDeletedComment _id}}
          <span class="label label-info">[Deleted]</span>
        {{else}}
          {{#if isOP auth.id}}
            <span class="label label-info">{{auth.name}}</span>
          {{else}}
            <span class="label label-default">{{auth.name}}</span>
          {{/if}}
        {{/if}}
        {{getTotalCommentScore _id}}
        {{createdAt}}
    </div>

    <div class="panel-collapse collapse in" id="{{_id}}">
        <div class="media-left">
          <div class="vote-wrap">
            <div class="commentUpvote" data-id="{{_id}}">
              {{#if hasUpVotedComment _id}}
                <i class="glyphicon glyphicon-menu-up" style="color:red;"></i>
              {{else}}
                <i class="glyphicon glyphicon-menu-up"></i>
              {{/if}}
            </div>
            <div class="commentDownvote" data-id="{{_id}}">
              {{#if hasDownVotedComment _id}}
                <i class="glyphicon glyphicon-menu-down" style="color:blue;"></i>
              {{else}}
                <i class="glyphicon glyphicon-menu-down"></i>
              {{/if}}
            </div>
          </div>
          <!-- vote-wrap -->
        </div>
          <!-- media-left -->


        <div class="media-body">
          {{#if isDeletedComment _id}}
            <p>[Deleted]</p>
          {{else}}
            <p>{{text}}</p>
          {{/if}}
              <div class="comment-meta">
                <span>
                  <a class="" role="button" data-toggle="collapse" id="commentToggle_{{_id}}" href="#comment_{{_id}}" aria-expanded="false" aria-controls="collapseExample">reply</a>
                </span>
                <div class="collapse" id="comment_{{_id}}">
                  <form>
                    <div class="form-group">
                      <label for="comment">Enter Your Comment:</label>
                      <textarea name="comment" id="replyComment" class="form-control comment" rows="3"></textarea>
                      <input type="hidden" name="post_id" value="{{post_id}}">
                      <input type="hidden" name="parent_id" value="{{_id}}">
                    </div>
                    <button type="submit" class="btn btn-default">Add Comment Reply</button>
                  </form>
                </div>
                {{#if isOriginalCommentPoster _id}}
                  <span>
                    <a class="" role="button" data-toggle="collapse" id="deleteCommentToggle_{{_id}}" href="#deleteComment_{{_id}}" aria-expanded="false" aria-controls="collapseExample">delete comment</a>
                  </span>
                  <div class="collapse" id="deleteComment_{{_id}}">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" data-id="{{_id}}" id="confirmDelete">Yes</button>
                      <button type="button" class="btn btn-default" data-id="{{_id}}" id="denyDelete">No</button>
                    </div>
                  </div>
                {{/if}}
                <span>
                  <a class="" role="button" data-toggle="collapse" id="shareCommentToggle_{{_id}}" href="#shareComment_{{_id}}" aria-expanded="false" aria-controls="collapseExample">share comment</a>
                </span>
                <div class="collapse" id="shareComment_{{_id}}">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button id="shareComment" data-id="{{_id}}" data-post_id="{{post_id}}" class="btn btn-default" type="button">Link</button>
                    </span>
                    <input type="text" class="form-control" value="http://vidvote.tv/v/{{post_id}}/comments/{{_id}}">
                  </div>
                </div>
              </div>
              <!-- insert child comments here -->
              {{#if hasChildren _id}}
                {{#each childComments _id}}
                  {{> comment}}
                {{/each}}
              {{else}}
                {{#if justToDeep _id}}
                  <div class="media">
                    <div class="row" style="margin-bottom:5px; margin-top:5px;">
                      <span class="label label-info"><a href="/v/{{post_id}}/comments/{{_id}}" data-id="{{_id}}" data-post_id="{{post_id}}" id="loadSpecificCommentThread" class="alert-link">Continue this thread</a></span>
                    </div>
                  </div>
                {{/if}}
              {{/if}}
        </div>
    </div>
  </div>
</template>
<template name='comments'>
<div class="post-comments">

    <form>
      <div class="form-group">
        <label for="comment">Enter Your Comment:</label>
        <textarea name="comment" id="comment" class="form-control comment" rows="3"></textarea>
        <input type="hidden" name="post_id" value="{{pageID}}">
        <input type="hidden" name="parent_id" value="{{pageID}}">
      </div>
      <button type="submit" class="btn btn-default">Add Comment</button>
    </form>

    <div class="comments-nav">
      <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           Sorting {{numberComments}} comments <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" id="sortTopComments">Most Voted Comments</a></li>
            <li><a href="#" id="sortNewComments">New Comments</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {{#if hasSpecificRootComment}}
      <div class="row" style="margin-bottom:5px; margin-top:5px;">
        <span class="label label-info">Currently viewing a specific comment thread, <a href="/v/{{pageID}}" data-id="{{pageID}}" id="loadAllComments" class="alert-link">View all comments!</a></span>
      </div>
    {{/if}}
    <div class="row">
      {{#each rootComments}}
        {{> comment}}
      {{/each}}
    </div>

</div>
</template>
