.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}


.post-comments .comment-meta .comments-nav {
  border: 1px solid #000;
  margin-bottom: 1px;
  padding-bottom:1px;
}
.post-comments .media {
  border: 1px solid #eee;
  padding-top:3px;
  padding-bottom:3px;
  margin-bottom: 3px;
  padding-left: 10px;
}

.post-comments .media-heading {
  font-size: 12px;
  color: grey;
}

.post-comments .comment-meta a {
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}
.vote-wrap .glyphicon {
   font-size: 100%;
   color:black;
}
.media-heading .glyphicon {
   font-size: 100%;
   color:black;
}
.media {
  margin-top:0px;
}