<template name="appLayout">
<head>
  <title>videoVote</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel='icon' href='/favicon.ico'>
</head>

<body>
	 <div id="wrap">
	 	{{> yield "header"}}
		<div class="container" style="padding:0px;">
			<div class="row">
				{{> yield "notification"}}
			</div>
			<div class="row">
				<div class="col-sm-12" id="info">
				</div>
			</div>
			<div class="row">
				{{> yield "content"}}
			</div>
		</div>
	</div>
	<div id="footer" >
		{{> yield "footer"}}
	</div>
</body>

</template>