<template name='liveChannel'>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button id="goLive" class="btn btn-primary">Go Live!</button>
    </div>
  </div>
	<div class="col-xs-12 col-sm-8" id="playerWrapper" style="padding:0px;">
		<div class="videowrapper">
			<div id="player"></div>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          {{> submitLiveChannel}}
        </div>
        <!-- <div class="col-xs-12">
          {{> playList}}
        </div> -->
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{> liveChannelPlaylist}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center visible-md-block visible-lg-block"  style="padding-top:5px;">
      <button type="button" id="makePlayerSmaller" class="btn btn-default">{{resizeButtonText}}</button>
    </div>
  </div>
	<div class="row">
		{{> yield "comments"}}
	</div>
</template>
<template name='submitLiveChannel'>
		<form class="form">
			<div class="form-group">
				<div class="col-xs-12">
				<h2>Enter a valid URL:</h2>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-10">
					<input type="text" name="url" class="form-control" placeholder="Valid URL input">
          <input type="hidden" name="channel" class="form-control" value="{{currentChannel}}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-2">
					<input type="submit" class="btn btn-default" value="Submit">
				</div>
			</div>
		</form>
</template>
<template name='liveChannelPlaylist'>
  <table class="table table-striped">
    <thead>
        <th>Submiter</th>
        <th>YoutubeId</th>
    </thead>
    <tbody>
      {{#each playlistData}}
        <tr>
          <td>{{submitter_username}}</td>
          <td>{{youtubeID}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
<template name='navChannel'>
<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
          <ul class="nav navbar-nav navbar-left" id="nav-controls">
          			<li><a  href="/" >vidVote.tv</a></li>
          		{{#if hasUpVoted}}
			 		<li><span class="glyphicon glyphicon-menu-up" aria-hidden="true" id="upvote" style="color:red;"></span></li>
			 	{{else}}
			 		<li><span class="glyphicon glyphicon-menu-up" aria-hidden="true" id="upvote"></span></li>
			 	{{/if}}
			 	{{#if hasDownVoted}}
			 		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="downvote" style="color:blue;"></span></li>
			 	{{else}}
			 		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="downvote"></span></li>
			 	{{/if}}

          	</ul>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <div class="navbar-inner">
	        <ul class="nav navbar-nav navbar-left">

	            {{#if currentUser}}
	            	{{> loginButtons }}
	            {{else}}
	            	{{> loginButtons }}
	            {{/if}}
	            <li role="separator" class="divider"></li>


	        </ul>
	        <ul class="nav navbar-nav navbar-right">

	        </ul>
	      </div>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
</template>
