<template name='nav'>
<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
          <ul class="nav navbar-nav navbar-left" id="nav-controls">
          			<li><a  href="/" >vidVote.tv</a></li>
          		{{#if hasUpVoted}}
			 		<li><span class="glyphicon glyphicon-menu-up" aria-hidden="true" id="upvote" style="color:red;"></span></li>
			 	{{else}}
			 		<li><span class="glyphicon glyphicon-menu-up" aria-hidden="true" id="upvote"></span></li>
			 	{{/if}}
			 	{{#if hasDownVoted}}
			 		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="downvote" style="color:blue;"></span></li>
			 	{{else}}
			 		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="downvote"></span></li>
			 	{{/if}}

	          	<li><span class="glyphicon glyphicon-menu-left" aria-hidden="true" id="previous"></span></li>
				<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true" id="next"></span></li>
          	</ul>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <div class="navbar-inner">
	        <ul class="nav navbar-nav navbar-left">

	            {{#if currentUser}}
	            	{{> loginButtons }}
	            {{else}}
	            	{{> loginButtons }}
	            {{/if}}
	            <li role="separator" class="divider"></li>


	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	<li class="dropdown visible-md-block visible-sm-block">
		            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" >
		                Sort <span class="caret"></span>
		            </a>
		    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
		              <li class="dropdown-submenu">
		                <a tabindex="-1" href="#">Show: {{getPage}}</a>
		                <ul class="dropdown-menu">
		                  <li><a class="btn" href="/new" id="New">New</a></li>
				          <li><a class="btn" href="/" id="Hot">Hot</a></li>
				          <li><a class="btn" href="/top" id="Top">Top</a></li>
		                </ul>
		              </li>
		              <li class="divider"></li>
		              <li class="dropdown-submenu">
		                <a tabindex="-1" href="#">Days: {{getDateToGoBack}}</a>
		                <ul class="dropdown-menu">
							<li><a class="btn" href="#" id="day">1</a></li>
				            <li><a class="btn" href="#" id="week">7</a></li>
				            <li><a class="btn" href="#" id="month">30</a></li>
				            <li><a class="btn" href="#" id="all">9000</a></li>
		                </ul>
		              </li>
		            </ul>
		        </li>

	        	<li class="dropdown visible-lg-block visible-xs-block">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show: {{getPage}}<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a class="btn" href="/new" id="New">New</a></li>
		            <li><a class="btn" href="/" id="Hot">Hot</a></li>
		            <li><a class="btn" href="/top" id="Top">Top</a></li>
		          </ul>
		        </li>
		        <li class="dropdown visible-lg-block visible-xs-block">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Days: {{getDateToGoBack}}<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a class="btn" href="#" id="day">1</a></li>
		            <li><a class="btn" href="#" id="week">7</a></li>
		            <li><a class="btn" href="#" id="month">30</a></li>
		            <li><a class="btn" href="#" id="all">9000</a></li>
		          </ul>
		        </li>
	         	<li><a href="/submit" class="btn hidden-sm">Submit</a></li>
	         	<li><a href="#" class="btn hidden-sm">Weight: {{getWeight}} </a></li>
	            <li><a href="#" class="btn hidden-sm">Score: {{getScore}} ({{numUpVotes}}, {{numDownVotes}})</a></li>
	            <li><a href="#" id="autoplay" class="btn  visible-lg-block visible-xs-block">Autoplay: {{getAutoPlay}}</a></li>
            	<li><a href="#" id="autonext" class="btn  visible-lg-block visible-xs-block">Autonext: {{getAutoNext}}</a></li>
            	<li class="dropdown visible-md-block visible-sm-block">
		            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" >
		                Controls / Info<span class="caret"></span>
		            </a>
		    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
		    		  <li><a href="/submit" class="btn">Submit</a></li>
		    		  <li class="divider"></li>
		    		  <li><a href="#" class="btn">Weight: {{getWeight}} </a></li>
	           		  <li><a href="#" class="btn">Score: {{getScore}} ({{numUpVotes}}, {{numDownVotes}})</a></li>
	           		  <li class="divider"></li>
		              <li><a href="#" id="autoplay" class="btn visible-md-block visible-sm-block">Autoplay: {{getAutoPlay}}</a></li>
            		  <li><a href="#" id="autonext" class="btn visible-md-block visible-sm-block">Autonext: {{getAutoNext}}</a></li>
		            </ul>
		        </li>
	        </ul>
	      </div>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>
</template>

<template name='mainContent'>

	<div class="col-xs-12 {{getVideoSize}}" id="playerWrapper" style="padding:0px;">
		<div class="videowrapper">
			<div id="player"></div>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-12 text-center visible-md-block visible-lg-block"  style="padding-top:5px;">
      <button type="button" id="makePlayerSmaller" class="btn btn-default">{{resizeButtonText}}</button>
    </div>
  </div>
	<div class="row">
		{{> yield "comments"}}
	</div>
</template>
<template name='submitContent'>
	<div class="col-sm-12">

		<form class="form">
			<div class="form-group">
				<div class="col-sm-12 text-center">
				      <h1>Enter a valid URL:</h1>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="text" name="url" class="form-control" placeholder="Valid URL input">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<input type="submit" class="btn btn-default" value="Submit">
				</div>
			</div>
		</form>
	</div>
</template>
<template name='notification'>
	<div class="col-xs-12" id="notification">

	</div>
</template>
<template name='loading'>
	<div class="col-sm-12">
	Loading...
	</div>
</template>
<!-- <template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="channel">Channel</button>
</template> -->
